
.navbar {
    font-size: 1.2rem;
    background-image: linear-gradient(90deg, rgba(4,34,82,1) 0%, rgba(42,114,144,1) 48%, rgba(1,138,166,1) 100%);
    border-bottom: 0.15em solid rgb(231, 85, 0);
    transition: background-color 0.5s ease;

    &:hover {
        background-color: white;
        border-bottom: 0.15em solid rgba(42,114,144,1);

        &::before {
            opacity: 1;
        }

        .navbar-brand {
            color: black;

            &:hover {
                color: rgb(231, 85, 0);
            }

            .logo {
                content: url('../../images/podium.png');
            }
        }

        .navbar-toggler {
            border: 2px solid black;
            color: black;

            &:hover {
                border: 2px solid rgb(231, 85, 0);
                color: rgb(231, 85, 0);
            }
        }
    
        .nav-link {
            color: black;
            font-weight: bold;
    
            &:hover {
                color: rgb(231, 85, 0);;
            }
        }
    }

    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
          to right,
          hsl(0, 0%, 100%),
          hsl(0, 0%, 100%)
          
        );
        z-index: -1;
        transition: opacity 0.5s linear;
        opacity: 0;
    }

    .navbar-brand {
        font-size: 2rem;
        margin: 0.4em;
        color: white;
        font-weight: bold;

        img {
            margin-right: 0.2em;
            background: url('../../images/podium-white.png');
        }
    }

    .navbar-toggler {
        border: 2px solid white;
        color: white;
        font-size: 1.5em;
    }

    .nav-link {
        color: white;
        font-weight: bold;

        &:hover {
            color: rgb(0, 0, 124);
        }
    }

    .active {
        font-weight: bold;
    }

}
