
.navbar:hover::before {
    opacity: 1;
}

.navbar::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(
      to right,
      hsl(0, 0%, 100%),
      hsl(0, 0%, 100%)
      
    );
    z-index: -1;
    transition: opacity 0.5s linear;
    opacity: 0;
}


.navbar {
    font-size: 1.2rem;
    color: black;
    background-image: linear-gradient(90deg, rgba(4,34,82,1) 0%, rgba(42,114,144,1) 48%, rgba(1,138,166,1) 100%);
    transition: background-color 0.5s ease;

    &:hover {
        background-color: white;
        border-bottom: 0.1em solid black;

        .navbar-brand {
            color: black;

            .logo {
                content: url('../../images/podium.png');
            }
        }

        .navbar-toggler {
            border: 1px solid black;
            color: black;
        }
    
        .nav-link {
            color: black;
            font-weight: bold;
    
            &:hover {
                color: rgba(42,114,144,1);
            }
        }
    }

    .navbar-brand {
        font-size: 1.8rem;
        margin: 0.4em;
        color: white;
        font-weight: bold;

        img {
            margin-right: 0.2em;
            background: url('../../images/podium-white.png');
        }
    }

    .navbar-toggler {
        border: 1px solid white;
        color: white;
        font-size: 1.5em;
    }

    .nav-link {
        color: white;
        font-weight: bold;

        &:hover {
            color: rgb(0, 0, 124);
        }
    }

    .active {
        font-weight: bold;
    }

}