.row-menu {
    padding: 1.5em;
    background-color: white;
    margin: 0;
    border-bottom: 1px solid grey;
    
    .col {

        .section-title {
            font-weight: bold;
            font-size: 1.8em;
            color: black;
        }
    }
}
