#sidebar {
    margin-left: -250px;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    //background: #7386D5;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: 0;
}

#sidebar .sidebar-header {
    height: 8em;
    padding: 1em;
    margin-bottom: 1em;
    

    .header-btn-close {
        display: flex;
        justify-content: flex-end;
    }

    .header-title {
        display: flex;
        width: 100%;
        height: 100%;

        h3 {
            padding-bottom: 0.5em;
            display: block;
            width: 100%;
            align-self: flex-end;
            border-bottom: 1px solid white;
        }
    }
}

#sidebar ul.components {
    padding: 1em 0;
    border-bottom: 1px solid darkgrey;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 0.5em 1em;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: rgb(41, 44, 58);
    background: #fff;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: darkgray;
}