
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 1em;
    min-height: 100vh;
    transition: all 0.3s;

    .page-title {
        display: flex;
        justify-content: center;
        margin: 1.5em 0;
    }

    .exchange-rates {
        margin: 2em 0;

        .exchange-rates-title {
            font-weight: bold;
            margin-bottom: 0.5em;
        }

        p {
            margin: 0;
        }
    }
}
