
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);.icon {
    font-family: 'Material Icons', serif;
    font-style: normal;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}
    
/* GENERAL */
* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    position: relative;
}

header {
    display: block;
    width: 100%;
    padding: 1.75em 0;
    border-bottom: 1px solid lightgray;
    background: white;
}

/* GRID */
.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.row-middle {
    align-items: center;
}

.column {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
}

/* Calendar */
.calendar {
    display: block;
    position: relative;
    width: 90%;
    background: white;
    height: 100%;
    margin: 3em auto;

    .header {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 115%;
        padding: 1.5em 0;
        border-bottom: 1px solid lightgray;
    
        .column {
            text-align: center;
    
            &.col-center {
                font-size: 1.5em;
            }
        }

        .icon {
            cursor: pointer;
            font-size: 1.5em;
            transition: .15s ease-out;

            &:hover {
                transform: scale(1.75);
                transition: .25s ease-out;
                color: rgba(1,138,166,1);
            }

            &:first-of-type {
                margin-left: 1em;
            }

            &:last-of-type {
                margin-right: 1em;
            }
        }
    }

    .days {
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        font-size: 1em;
        text-align: center;
        padding: .75em 0;
        border-bottom: 1px solid lightgray;
    }

    .body {

        .cell {
            position: relative;
            height: 6em;
            border-right: 1px solid lightgray;
            overflow: hidden;
            cursor: pointer;
            background: white;
            transition: 0.25s ease-out;

            &:hover {
                background: whitesmoke;
                transition: 0.5s ease-out;

                .number  {
                    font-weight: bold;
                    line-height: 1;
                    color: rgba(42,114,144,1);
                    font-size: 2em;
                    margin: .2em;
                    transition: .25s ease-in-out;
                    letter-spacing: -.07em;
                }
            }

            .number {
                margin: .2em;
                font-size: 1em;
                line-height: 1;
                font-weight: 700;
                transition: .25s ease-in-out;
            }
        }

        .selected {
            border: 1px solid rgba(4,34,82,1);
            border-top: 10px solid transparent;
            border-image: linear-gradient(90deg, rgba(4,34,82,1) 0%, rgba(42,114,144,1) 48%, rgba(1,138,166,1) 100%);
            border-image-slice: 1;

            .number   {
                font-weight: bold;
                line-height: 1;
                color: rgba(42,114,144,1);
                font-size: 2em;
                margin: .2em;
                transition: .25s ease-in-out;
                letter-spacing: -.07em;
            }
        }

        .row {
            border-left: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
        }

        .disabled {
            color: lightgray;
            pointer-events: none;
        }

        .column {
            flex-grow: 0;
            flex-basis: calc(100%/7);
            width: calc(100%/7);
        }
    }
}
