.card {
    border-radius: 0.3em 0.3em 0 0;
    border: none;
    background-color: white;
    width: 100%;
    
    &.card-section {
      margin-bottom: 4em;
    }

    .section-header {
        background: rgba(42,114,144,1);
        padding: 1em;
        border-radius: 0.3em 0.3em 0 0;

        .card-title {
            font-size: 2em;
            margin: 0.5em;
            color: white;
        }

        .btn-add {
            border-radius: 50%;
            font-size: 1.3rem;
            background-color: rgb(231, 85, 0);
            border: none;
        }
    }

    .card-body {
        border: none;
        overflow-y: scroll;
        max-height: 30em;
    }
}