
.main-container {
    padding: 2em 2em;
    height: 100%;
    margin: 2em auto;

    .col {
        text-align: center;

        .link {
            font-weight: bold;
            font-size: 1.8em;
            color: black;
        }
    }
}