
.container {

    &.main-container {
        background-color: #eee;
        padding: 2em 2em;
        height: 100%;
        margin: 2em auto;
    }

    .list-group {
        box-shadow: 5px 5px 5px grey;
        border-radius: 0;

        .list-group-item {
            border-radius: 0;
        }
    }
}